/* Head */
head {
    background-color: black;
    padding: 10px;
    margin: 0 auto;
    max-width: 1200px;
}
  
/* Body */
body {
    background-color: black;
    margin: 30px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

/* Capçaleres i body text */

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    margin-top: 30px;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    margin-top: 20px;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}

h4 {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    margin-top: 10px;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: auto 0;
    line-height: 1.15;
    font-size: 12px;
    color: #ffffff;
}

blockquote {
    border-left: 4px solid #ffffff;
    margin: 40px;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* Header */

.header {
    margin: 0 auto;
    text-align: center;
}

.header img {
    max-width: 300px;
}

/*Menu navegació*/

.navbar {
    background-color: #000000;
    padding: 10px;
    position: relative;
    top: 0;
    margin-bottom: 30px;
    margin-top: 20px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
}

.navbar a :active {
    text-decoration: none;
    color: #af0a0a;
    font-size: 12px;
    font-weight: bold;
}

/* Pàgina de presentació */

.portada-presentacio picture {
    width: auto;
    margin: 10 px;
    align-items: center;
}

/* Pàgina de temporades */

.temporadas img {
    display: block;
    margin: 0 auto;
    max-width: 450px;
    height: auto;
    align-items: center;
}

/* Pàgina de detall */

.pagina-detalle article {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 20px 50px 40px;
    margin: -99px 20px 20px;
    border-radius: 20px;
    background:
        linear-gradient(
            90deg,
            #670000,
            #cb0101
        );
}

.pagina-detalle article h3 {
    color: rgb(255, 255, 255 / 70%);
}

.pagina-detalle article button {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 40px 0 44px;
    width: 100%;
    background: #000000;
    border: 0;
    border-radius: 30px;
    color: #f9f9f9;
    font-family: inherit;
    font-size: 16px;
}

.temporada iframe {
        max-width: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

li strong {
    color: #670000;
}

/* Vídeos YouTube */

.videos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

iframe {
    max-width: 100%;
    width: 100%;
    height: 640px;
    margin-top: 60px;
    margin-bottom: 60px;
}

/* Footer */

footer {
    background-color: #000000;
    left: 0;
    bottom: 0;
    right: 0;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1200px;
    position: relative;
}

footer article {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 20px 50px 40px;
    margin: -99px 20px 20px;
    border-radius: 20px;
    background:
        linear-gradient(
            90deg,
            #670000,
            #cb0101
        );
}

.official-website {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;    
}

footer article h3 {
    color: rgb(255, 255, 255 / 70%);
}

footer article button {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 40px 0 44px;
    width: 100%;
    background: #670000;
    border: 0;
    border-radius: 30px;
    color: #f9f9f9;
    font-family: inherit;
    font-size: 16px;
}

footer section {
    padding: 0 50px;
}

section.top-footer {
    padding-top: 30px;
    margin-bottom: 48px;
}

section.top-footer img {
    display: block;
    height: 30px;
    margin: 0 0 30px;
}

section.top-footer {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    gap: 30px;
}

section.top-footer ul li {
    margin-bottom: 10px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

section.top-footer ul {
    display: block;
}

section.top-footer h4 {
    color: rgb(255, 255, 255 / 40%);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}

section.bottom-footer {
    padding-top: 10px;
    border-top: 2px solid
        rgb(255, 255, 255 / 10%);
    color: rgb(255, 255, 255 / 40%);
    font-size: 13px;
}

.footer-pict {
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #ffffff;
}

.footer-pict img {
    max-width: 200px;
}

/* Responsive mobile pantalles petites */

@media (width < 480px) {
    
    footer article button {
        width: 70%;
    }

    .pagina-detalle article button {
        width: 70%;
    }

    section.top-footer ul {
        padding-right: 10%;
    }

    .videos-grid {
        grid-template-columns: 1fr;
    }

    .temporada iframe {
        width: 100%;
    }

    .navbar {
        padding: 10px;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        margin: 5px 0;
    }

}

/* Responsive tablet i mobile pantalles més grans*/

@media (width < 800px) {

    footer article {
        max-width: 300px;
        margin: 0 auto;
        flex-direction: row;
        min-height: 140px;
        padding: 30px 50px 30px;
    }

    footer article button {
        width: auto;
        padding: 0 20px 0 24px;
        max-width: 300px;
        margin: 0 auto;
    }

    section.top-footer ul {
        padding-right: 0;
        grid-template-columns: repeat(4, 1fr);
    }

    .pagina-detalle article {
        flex-direction: row;
        min-height: 140px;
        margin: -70px 20px 20px;
        padding: 30px 50px 30px;
        max-width: 300px;
        margin: 0 auto;
    }

    .pagina-detalle article button {
        width: auto;
        padding: 0 20px 0 24px;
        max-width: 300px;
        margin: 0 auto;
    }

    .videos-grid {
        grid-template-columns: 1fr;
    }

    .temporada iframe {
        width: 100%;
    }

    .navbar {
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        margin: 5px 0;
    }
}