/* Head */

head {
    background-color: black;
    padding: 10px;
    margin: 0 auto;
}
  
/* Body */

body {
    background-color: black;
    margin: 0 auto;
}

section {
    max-width: 1200px;
    margin: 0 auto;
}

/* Capçaleres i body text */

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    margin-top: 40px;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    margin-top: 30px;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    margin-top: 20px;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}

h4 {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: underline;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: auto 0;
    line-height: 1.25;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: auto 0;
    line-height: 1.25;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 20px;
}

tr {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: auto 0;
    line-height: 1.25;
    font-size: 16px;
    color: #ffffff;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

td {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: auto 0;
    line-height: 1.25;
    font-size: 16px;
    color: #ffffff;
    padding-right: 20px;
    margin-bottom: 40px;
}

/* Header */

.header {
    margin: 0 auto;
    text-align: center;
}

.header img {
    max-width: 350px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*Menu navegació*/

.navbar {
    background-color: #000000;
    padding: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 70px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    margin: 20px;
}

.navbar li:hover a {
    color: #670000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

.navbar li:hover a::before {
    visibility: visible;
    scale: 1 1;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

.navbar a:active {
    text-decoration: none;
    color: #670000;
    font-size: 14px;
    font-weight: bold;
}


/* Home */

.categories {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.category-card {
    align-items: center;
    width: 300px;
    max-width: 650px;
    padding: 50px 30 px 50 px 20px;
    background: #670000;
    border-radius: 24px;
    margin: 20px;
}

.category-card img {
    width: 280px;
    object-fit: cover;
    border-radius: inherit;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    padding: 10px;
}

.category-card a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    padding: 16px 26px;
    justify-content: center;
    display: flex;
}

.category-card a:hover {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    padding: 16px 26px;
    justify-content: center;
    display: flex;
    font-weight: bold;
}

/* Breadcrumb */

.breadcrumb {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 0 auto;
    line-height: 1.25;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 20px;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

/* Pàgina de presentació */

.portada-presentacio picture {
    width: auto;
    margin: 10 px;
    align-items: center;
}

/* Pàgina de temporades */

.temporadas {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
    align-items: center;
}

.temporada-card {
    width: 800px;
    max-width: 650px;
    padding: 50px 30px 50px 20px;
    background: #670000;
    border-radius: 24px;
    margin: 20px;
    text-align: center;
}

.temporada-card img {
    width: 450px;
    object-fit: cover;
    border-radius: inherit;
    padding: 10px;
}

.temporada-card h2 {
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.temporada-card p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0 auto;
    line-height: 1.25;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
    text-decoration: none;
    display: flex;
}

/* Pàgina de detall */

.pagina-detalle article {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 16px;
    padding: 20px 50px 40px;
    border-radius: 20px;
    background:
        linear-gradient(
            90deg,
            #670000,
            #cb0101
        );
}

.pagina-detalle article h3 {
    color: rgb(255, 255, 255 / 70%);
}

.pagina-detalle article button {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 40px 0 44px;
    width: 100%;
    background: #000000;
    border: 0;
    border-radius: 30px;
    color: #f9f9f9;
    font-family: inherit;
    font-size: 16px;
    text-decoration: none;
}

.temporada iframe {
        max-width: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

li strong {
    color: #670000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #ffffff;
}

/* Vídeos YouTube */

.videos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

iframe {
    max-width: 100%;
    width: 100%;
    height: 640px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Cards */

.official-website-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.official-website {
    box-shadow: 0 0 0 0 var(--accent);
    outline: 2px solid;
    color: #ffffff;
    outline-color: #ffffff;
    outline-offset: 0px;
    text-shadow: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.25;
    max-width: 300px;
    padding: 10px;
    text-align: center;
    width: 100%;
    letter-spacing: 0.3rem;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    transition: all 0.55s cubic-bezier(.36, .63, .5, .73);
}

.official-website a:hover {
    box-shadow: 0 0 0 2px var(--accent);
    color: var(--accent);
    outline-color: #670000;
    outline-offset: 15px;
}



/* Links */

.links {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

/* Footer */

footer {
    background-color: #670000;
    padding: 20px;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
    border-top: 2px solid #ffffff;
}

footer section {
    padding: 0 50px;
}

section.top-footer {
    padding-top: 30px;
    margin-bottom: 48px;
    max-width: 1200px;
}

section.top-footer img {
    display: block;
    height: 30px;
    margin: 0 0 30px;
}

section.top-footer ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: block;
    margin-top: 10px;
}

section.top-footer a {
    margin-bottom: 10px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 5px;
}

section.top-footer ul {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
}

section.top-footer h4 {
    color: rgb(255, 255, 255 / 40%);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}

section.bottom-footer {
    padding-top: 10px;
    color: #ffffff;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.footer-pict {
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    padding-top: 20px;
    max-width: 1200px;
}

.footer-pict img {
    max-width: 200px;
}

/* Responsive mobile pantalles petites */

@media (width < 480px) {
    
    footer article button {
        width: 70%;
    }

    .pagina-detalle article button {
        width: 70%;
    }

    section.top-footer ul {
        padding-right: 10%;
    }

    .videos-grid {
        grid-template-columns: 1fr;
    }

    iframe {
        max-width: 100%;
    }

    .navbar {
        padding: 10px;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        margin: 5px 0;
    }

    .categories {
        box-sizing: border-box;
        display: block;
        justify-content: center;
    }
}

/* Responsive tablet i mobile pantalles més grans*/

@media (width < 800px) {

    footer article {
        max-width: 300px;
        margin: 0 auto;
        flex-direction: row;
        min-height: 140px;
        padding: 30px 50px 30px;
    }

    footer article button {
        width: auto;
        padding: 0 20px 0 24px;
        max-width: 300px;
        margin: 0 auto;
    }

    section.top-footer ul {
        padding-right: 0;
        grid-template-columns: repeat(4, 1fr);
    }

    .pagina-detalle article {
        flex-direction: row;
        min-height: 140px;
        padding: 30px 50px 30px;
        max-width: 300px;
        margin: 0 auto;
    }

    .pagina-detalle article button {
        max-width: 300px;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        width: 20%;
        background: #000000;
        border: 0;
        border-radius: 30px;
        color: #f9f9f9;
        font-family: inherit;
        font-size: 16px;
        font-weight: bold;
    }

    .videos-grid {
        grid-template-columns: 1fr;
    }

    iframe {
        max-width: 100%;
    }

    .navbar {
        margin-bottom: 30px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: stretch;
    }

    .navbar ul {
        flex: column;
        align-items: center;
    }

    .navbar li {
        margin: 5px 0;
        display: block;
    }

    .categories {
        box-sizing: border-box;
        display: block;
        justify-content: center;
    }
}